@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body { margin:0; padding:0; width:100%; overflow-x: clip; }

body {
    background: linear-gradient(to top, #4a4969 0%,#7072ab 50%,#cd82a0 100%);
}

a {
    color: #00ff44;
}

.discord {
    color: #7389da;
}

#landscape {
    z-index:-1;
    position: fixed;
    background: url("landscape.svg") no-repeat bottom;
    bottom:0;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#box {
    position: relative;
    z-index: 1 !important;
    background-color: #1B1717;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    padding: 3em;
    border-radius: 10px;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
}

#footer {
    position:relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    color: #1B1717;
}

#footer > a {
    color: #1B1717;
    font-weight: bold;
}

#community-btn {
    position: fixed;
    display:block;
    text-align:center;
    top:20;
    right:20;
    background: #1B1717;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    font-family: monospace;
    text-decoration:  none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    outline:none;
}

#community-btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#community-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#community-elf {
    display: inline-block;
    margin-top: -78px;
    margin-left: -98px;
}

#elf {
    background: url("elf.png") no-repeat;
    width:58px;
    height: 78px;
}

#text {
    display: none;
    font-family: 'Press Start 2P';
    float:left;
    font-size: 10px;
    width: 160px;
    margin-left:-180px;
    margin-top:-80px;
    padding: 8px;
    line-height: 2em;
    background:#fff;
    color: #7289da;
    border-radius:8px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    word-wrap: break-word;
}

#text > a {
    color: #7289da;
    text-decoration-style: dashed;
}

@supports (position: sticky) {
    .is-sticky {
      position: sticky;
      top: 50%;
    }
}

pre {
    background: #232323;
    padding: 12px;
    color: #00ff44;
    border-radius:8px;
    font-size: 16px;
    font-family: monospace;
}

em {
    color: #ffff66;
    font-style: normal;
    text-shadow:
        0 0 5px #ffff66;
}

.white {
    color: #e8e8e8;
    text-shadow:
        0 0 5px #ffffff;

}

input {
    all: unset;
}

#part-2,
#success-msg-part-1,
#success-msg-part-2,
#error-1, #error-2,
#puzzle-input-all  {
    display:none;
}

.puzzle-input {
    margin-bottom: 1.5em;
}

#puzzle-input-all {
    margin-bottom: 0em;
}

.answer {
    padding:12px;
    background: #232323;
}

.submit {
    color: #ffff66;
    font-style: normal;
    text-shadow:
        0 0 5px #ffff66;
    cursor: pointer;
}

.error {
    margin-bottom:20px;
}

.error > em {
    color: #ff0000;
    font-style: normal;
    text-shadow:
        0 0 5px #ff0000;
}

/* Device specific styles */

@media all and (min-width: 1440px) and (max-width: 1920px) {
    #community-btn {
        position: sticky;
        z-index: 9999;
        text-align:center;
        width: 100%;
        border-radius: 0px;
        top:0;
        right: 0;
    }
    #community-btn:after {
        border-radius: 0px;
    }
    #community-btn:before {
        border-radius: 0px;
    }
    #box {
        width: 60%;
    }
}
@media all and (min-width: 1280px) and (max-width: 1440px) {
    #community-btn {
        position: sticky;
        z-index: 9999;
        text-align:center;
        width: 100%;
        border-radius: 0px;
        top:0;
        right: 0;
    }
    #community-btn:after {
        border-radius: 0px;
    }
    #community-btn:before {
        border-radius: 0px;
    }
    #box {
        width: 60%;
    }
}
@media all and (min-width: 480px) and (max-width: 1280px) {
    #community-btn {
        position: sticky;
        z-index: 9999;
        text-align:center;
        width: 100%;
        border-radius: 0px;
        top:0;
        right: 0;
    }
    #community-btn:after {
        border-radius: 0px;
    }
    #community-btn:before {
        border-radius: 0px;
    }
    #community-elf {
        display: none;
    }
    #box {
        width: 80%;
    }
    input[type="submit"]{
        margin-top: 20px;
        display:block;
    }
}

@media all and (max-width: 480px) {
    #community-btn {
        position: sticky;
        z-index: 9999;
        text-align:center;
        width: 100%;
        border-radius: 0px;
        top:0;
        right: 0;
    }
    #community-btn:after {
        border-radius: 0px;
    }
    #community-btn:before {
        border-radius: 0px;
    }
    #community-elf {
        display: none;
    }
    #box {
        width: 80%;
        padding: 2em;
        margin-bottom: 20%;
        border-radius:0px;
    }
    #footer {
        margin-bottom:20%;
        color: #fff;
    }
    #footer > a {
        color: #fff;
    }
    input[type="submit"]{
        margin-top: 20px;
        display:block;
    }
}